


body::before {
    display: block;
    content: '';
    height: 60px;
}


a span{
    color:goldenrod;

}




.d-sm-flex h1{
    font-size: 80px;
    font-weight: 700;
}



@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}

.change{
    background-image: url(/Asset/images/cta-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no no-repeat;
}


